
<div class="container-fluid">
    <div class="card">
        <div class="card-title">
            All projects
        </div>
        <div class="card-body">
            <div class="left">
                <div class="card projects" *ngFor="let project of displayData.projects">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12" style="text-align: center;">
                            <img class="img-fluid img-thumbnail" src="../../../assets/two.jpg" alt="">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="card-title">
                                {{ project.pname }}
                            </div>
                            <div class="card-deta">
                                <p> {{ project.pdescription }} </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card projects"> 
                    <div class="card-title">
                        Work Experience
                    </div>
                    <div class="card-body">
                        <div class="row" *ngFor="let exp of displayData.experiences" >
                            <span class="designation"> {{ exp.designation }} </span> <span class="company"> {{ exp.company}} </span> <span> ( {{exp.exp_from }}-{{ exp.exp_to }} ) </span>
                            <p>
                                {{ exp.exp_description}}    
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right">
                <div class="card details2">
                    <div class="card-title">
                        Skills
                    </div>
                    <div class="card-details">
                        <div *ngFor="let skill of displayData.skills;" >
                            {{ skill.skill }}
                            <div class="progress">
                                <div id="{{skill.skill}}" class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"> <span class="percent"> {{ skill.pro}}% </span> </div>
                              </div>
                        </div>
                    </div>
                </div>

            </div>

  
        </div>
    </div>
    <div>

    </div>
</div>