<div>
    
    <div class="card">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3 image" style="text-align: center;">
                <img class="card-img-top img-fluid img-thumbnail" src="./../../../assets/me.jpg" style="border-radius: 50%; width: 150px; height: 150px;;" alt="Card image cap">
            </div>
            <div class="col-sm-12 col-md-7 col-lg-8">
                <div class="row card-body">
                    <div class="col-sm-12 col-md-8 col-lg-7 " style="text-align: center;">
                        <h5 class="card-title">Sanket Jambhorkar</h5>
                        <span class="card-text"> Web Developer  </span> 
                        <div>
                         <a href=""> <i class="fa fa-facebook-square fa-2x " aria-hidden="true" ></i> </a>
                         <a href="https://www.linkedin.com/in/sanket-jambhorkar-sj/"><i class="fa fa-linkedin-square fa-2x " aria-hidden="true"></i></a>
                         <a href=""><i class="fa fa-twitter-square fa-2x " aria-hidden="true"></i></a>
                         <a href="https://github.com/sanket5"><i class="fa fa-github-square fa-2x " aria-hidden="true"></i></a>   
                        </div>
                    </div>
                    <div class="col-sm-12 col-md 4 col-lg-5" style="text-align: center;">
                        <a  class="btn btn-info" routerLink="/contact"> <i class="fa fa-fighter-jet" aria-hidden="true"></i>Contact</a>
                    </div>
                  </div>
            </div>
        </div>
      </div>
</div>

<div >
    <div class="detail-card">
        <div class="left" >
            <div class="card">
                <div class="card-title">
                    About Me
                </div>
                <div class="card-body">
                    <p>Write a brief intro about yourself. It's a good idea to include your personal interests and hobbies as well. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec. Commodo ligula eget dolor. Aenean massa.
                    </p>
                </div>
            </div>
                <div class="card">
                    <div class="card-title">
                        Latest Project
                    </div>
                    <div class="card-body">
                        <div class="image">
                            <img class="card-img-top img-fluid img-thumbnail" src="../../../assets/two.jpg" style="width: 70%;" alt="Card image cap">
                        </div>
                        <div class="project-details">
                            <h5> Movement Morgage </h5>
                            <p>
                                An American organization majorly working for ease of providing home loans, mortgages and their process management.
                            </p>
                            <p>
                                Work involves Single Page application developement, user rich experience, Admin portal view etc.
                            </p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="right">
            <div class="card details2">
                <div class="card-body" #contact>
                    <table>
                        <tr>
                            <td style="text-align: center;"> <i class="fa fa-envelope fa-2x" aria-hidden="true" ></i> </td>
                            <td> sanket.jambhorkar@gmail.com </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">  <i class="fa fa-map-marker fa-2x" aria-hidden="true" ></i> </td>
                            <td>  Wardha, Maharashtra </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div>
                <div class="card">
                    <div class="card-title">
                        Education
                    </div>
                    <div class="card-body">
                        <table>
                            <tr>
                                <td style="text-align: center;"> <i class="fa fa-graduation-cap fa-2x" aria-hidden="true" ></i> </td>
                                <td> <h6> Datta Meghe Institute of Engineering,Technology and Research </h6>
                                    Nagpur University(2013-2016) </td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">  <i class="fa fa-graduation-cap fa-2x" aria-hidden="true" ></i> </td>
                                <td>   <h6> Aacharya Shrimannarayan Polytechnic </h6>
                                    M.S.B.E.T (2010-2013)  </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    Languages
                </div>
                <div class="card-body">
                    <table>
                        <tr>
                            <td> <b>English: </b></td>
                            <td> Proficient </td>
                        </tr>
                        <tr>
                            <td> <b> Hindi:</b> </td>
                            <td> Proficient </td>
                        </tr>
                        <tr>
                            <td> <b> Marathi: </b></td>
                            <td> Proficient </td>
                            <td> <u>Mother Toung  </u> </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
