<div>
    
    <div class="card">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3 image" style="text-align: center;">
                <img class="card-img-top img-fluid img-thumbnail" src="{{displayData.personal_details.profilePic}}" style="border-radius: 50%; width: 150px; height: 150px;;" alt="Card image cap">
            </div>
            <div class="col-sm-12 col-md-7 col-lg-8">
                <div class="row card-body">
                    <div class="col-sm-12 col-md-8 col-lg-7 " style="text-align: center;">
                        <h5 class="card-title">  {{ displayData.personal_details.fname }}</h5>
                        <span class="card-text"> {{ displayData.personal_details.work }}  </span> 
                        <div style="margin: 10px;"> 
                         <a href="{{displayData.contact_details.fb}}"> <i class="fa fa-facebook-square fa-2x " aria-hidden="true" ></i> </a>
                         <a href="{{displayData.contact_details.li}}"><i class="fa fa-linkedin-square fa-2x " aria-hidden="true"></i></a>
                         <a href="{{displayData.contact_details.tw}}"><i class="fa fa-twitter-square fa-2x " aria-hidden="true"></i></a>
                         <a href="{{displayData.contact_details.gt}}"><i class="fa fa-github-square fa-2x " aria-hidden="true"></i></a>   
                        </div>
                    </div>
                    <div class="col-sm-12 col-md 4 col-lg-5" style="text-align: center;">
                        <a  class="btn btn-info" routerLink="/contact"> <i class="fa fa-fighter-jet" aria-hidden="true"></i>Contact</a>
                    </div>
                  </div>
            </div>
        </div>
      </div>
</div>

<div >
    <div class="detail-card">
        <div class="left" >
            <div class="card">
                <div class="card-title">
                    About Me
                </div>
                <div class="card-body">
                    <p>  {{ displayData.personal_details.about }}  </p>
                </div>
            </div>
                <div class="card">
                    <div class="card-title">
                        Latest Project
                    </div>
                    <div class="card-body">
                        <div class="image">
                            <img class="card-img-top img-fluid img-thumbnail" src="../../../assets/two.jpg" style="width: 70%;" alt="Card image cap">
                        </div>
                        <div class="project-details">
                            <h5>{{ displayData.projects[0].pname }} </h5>
                            <p>
                                {{ displayData.projects[0].pdescription }}
                            </p>
                        </div>
                    </div>
                </div>
        </div>
        <div class="right">
            <div class="card details2">
                <div class="card-body" #contact>
                    <table>
                        <tr>
                            <td style="text-align: center;"> <i class="fa fa-envelope fa-2x" aria-hidden="true" ></i> </td>
                            <td> {{displayData.contact_details.email}} </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;"> <i class="fa fa-mobile fa-3x" aria-hidden="true"></i> </td>
                            <td> {{displayData.contact_details.mob}} </td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">  <i class="fa fa-map-marker fa-2x" aria-hidden="true" ></i> </td>
                            <td>  {{displayData.contact_details.address}} </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div>
                <div class="card">
                    <div class="card-title">
                        Education
                    </div>
                    <div class="card-body">
                        <table>
                            <tr *ngFor="let edu of displayData.education_details">
                                <td style="text-align: center;"> <i class="fa fa-graduation-cap fa-2x" aria-hidden="true" ></i> </td>
                                <td> <h6> {{edu.school}} </h6>
                                    {{edu.university}} ( {{ edu.from }} - {{ edu.to }} ) </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-title">
                    Languages
                </div>
                <div class="card-body">
                    <table>
                        <tr *ngFor="let lang of displayData.languages">
                            <td> <b>{{ lang.language }}: </b></td>
                            <td> Proficient </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
